<h1>Редактирование профиля</h1>
<%= form_with model: current_user do |form| %>
  <p><%= form.label :email, "Обновите email" %></p>
  <p><%= form.email_field :email, placeholder: current_user.email, class: 'form-control' %></p>
  <p><%= form.label :login, "Обновите логин" %></p>
  <p><%= form.text_field :login, placeholder: current_user.login, class: 'form-control' %></p>
  <p><%= form.label :password, "Обновите пароль" %></p>
  <p><%= form.password_field :password, class: 'form-control' %></p>
  <p><%= form.submit "Обновить" %></p>
<% end %>